:root {
  --accent-color: #2196f3;
  --logo-Studio-color: black;
  --footer-bg-color: #2f303a;
  --primary-white-color: #ffffff;
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --contacts-footer-color: rgba(255, 255, 255, 0.6);
  --team-bg-color: #f5f4fa;
  --client-icon-clr: #afb1b8;
  --link-bg-color: rgba(255, 255, 255, 0.1);
  --portfolio-descriprion-clr: rgba(33, 150, 243, 0.9);
  --color-what-we-do-text: rgba(47, 48, 58, 0.8);
  --wiew-port-grey-clr: rgba(0, 0, 0, 0.2);
  --primary-cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --hero-button-hover: #188ce8;
}

html {
  box-sizing: border-box;
}

/* убираем подчеркивание ссылок */
* {
  text-decoration: none;
}

* ::after,
* ::before {
  box-sizing: inherit;
}

/* убираем точки списков */
.list {
  list-style: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: var(--primary-white-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
/*-----------Main ------------*/
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid red; */
}

.section.team {
  background-color: var(--team-bg-color);
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

/*--------------Head--------------*/
.header {
  border-bottom: 1px solid #ececec;
}

.nav-flex {
  display: flex;
  align-items: center;
}

.logo-WebStudio.top {
  margin-right: 93px;
}

.logo-WebStudio.top,
.logo-WebStudio.footer {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.logo-WebStudio.footer {
  margin-bottom: 20px;
  display: block;
}
.Studio-footer {
  color: var(--primary-white-color);
}

.footer-item {
  margin-bottom: 9px;
}

.footer-item:last-child {
  margin-bottom: 0;
}

.Studio-header {
  color: var(--logo-Studio-color);
}

.header-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 93px;
  margin: 0;
  padding: 0;
}

.item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .button_top {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms var(--primary-cubic);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.button_top:hover,
.button_top:focus {
  color: var(--accent-color);
}

.button_top.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
}

.button_top.current {
  position: relative;
  color: var(--accent-color);
}

.contact.footer {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
}

.contact {
  font-weight: normal;
  transition: color 250ms var(--primary-cubic);
}

.contact,
.contact-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  list-style: none;
  font-style: normal;
}

.contact-nav {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  transition: color 250ms var(--primary-cubic);
}

.contact-nav:hover,
.contact-nav:focus {
  color: var(--accent-color);
}

.contact:not(:last-child) {
  margin-bottom: 9px;
}

.contact + .contact {
  margin-bottom: 0;
}

.auth-nav {
  display: flex;
  margin-left: auto;
  padding-top: 0;
  padding-bottom: 0;
}

.auth + .auth {
  margin-left: 50px;
}

.contact-icon {
  margin-right: 10px;
  fill: currentColor;
  display: inline-block;
  justify-content: center;
}

.contact.adress {
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-white-color);
  list-style: none;
  font-style: normal;
}

.contact:hover,
.contact:focus,
.contact_header:hover,
.contact_header:focus {
  color: var(--accent-color);
}
/*--------------Body--------------*/

.hero {
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/hero-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1600px;
  text-align: center;
  background-color: var(--footer-bg-color);
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;
}

.big_banner_text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.45;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.big_banner_btn:hover,
.big_banner_btn:focus {
  background-color: var(--hero-button-hover);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.big_banner_btn {
  cursor: pointer;
  font-family: inherit;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  min-width: 200px;
  min-height: 50px;
  display: block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  transition: color 250ms var(--primary-cubic) background-color 250ms
    var(--primary-cubic);
}

/*--------------About Us--------------*/
.header-name {
  visibility: hidden;
  margin: 0;
  bottom: 0;
  border: 0;
  padding: 0;
  position: absolute;
}

.about_us {
  display: flex;
}

.benefits-icon {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  height: 120px;
  background: var(--team-bg-color);
  border-radius: 4px;
  justify-content: center;
  margin-bottom: 30px;
}

.about_us_li + .about_us_li {
  margin-left: 30px;
}

.about_us_text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  text-transform: uppercase;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}

.about_usParagr {
  font-size: 14px;
  line-height: 1.7;
  color: var(--title-text-color);
  width: 270px;
}

/*--------------What we do--------------*/
.what_we_do_name,
.our_team_own {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 50px;
}

.img_whatwedo {
  display: flex;
}

.img_whatwedo .thumb {
  position: relative;
}

.what_we_do_img + .what_we_do_img {
  margin-left: 30px;
}

.text {
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background-color: var(--color-what-we-do-text);
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
}
/*--------------Our team--------------*/

.our_team-card {
  display: flex;
}

.card-team_all {
  background-color: var(--primary-white-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  margin-right: 30px;
}

.card-team_all:last-child {
  margin-right: 0;
}

.info-card {
  padding-top: 30px;
  padding-bottom: 30px;
}

/*кусочек в what we do h2*/
.our_team_name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}

.our_team_position {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: var(--title-text-color);
}

.card-soc-media {
  display: flex;
  justify-content: center;
  padding-top: 16px;
}

.card-soc-media-team {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.card-soc-media-team::last-child {
  margin-right: 0;
}

.card-soc-team {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill 250ms var(--primary-cubic),
    background-color 250ms var(--primary-cubic);
}

.card-soc-team:hover,
.card-soc-team:focus {
  background-color: var(--accent-color);
}

.card-soc-team-item {
  fill: var(--client-icon-clr);
}

.card-soc-team:hover .card-soc-team-item,
.card-soc-team:focus .card-soc-team-item {
  fill: var(--accent-color);
}

.card-soc-team:hover .card-soc-team-item,
.card-soc-team:focus .card-soc-team-item {
  fill: var(--primary-white-color);
}

.card-soc-team-item:hover,
.card-soc-team-item:focus {
  fill: var(--primary-white-color);
}

/*--------------Client Card--------------*/

.client-name {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 50px;
}

.clients {
  display: flex;
}

.client-card {
  border: 1px solid var(--client-icon-clr);
  border-radius: 4px;
  margin-right: 30px;
  width: 170px;
  height: 94px;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
}

.client-card:last-child {
  margin-right: 0;
}

.benefits-clients {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--client-icon-clr);
  height: 100%;
  transition: border 250ms var(--primary-cubic), fill 250ms var(--primary-cubic);
}

.benefits-clients:hover,
.benefits-clients:focus {
  fill: var(--accent-color);
}

.client-card:focus,
.client-card:hover {
  border-color: var(--accent-color);
}

/*--------------Footer--------------*/
.info_box {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-bg-color);
}

.info_box .container {
  display: flex;
  align-items: baseline;
}

.footer-link {
  margin-right: 70px;
}

/*--------------Join Us--------------*/
.join {
  margin-right: auto;
}

.join-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

.card-soc-media-footer {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.card-soc-media-footer::last-child {
  margin-right: 0;
}

.card-soc-media-ul {
  display: flex;
}

.card-soc-item {
  fill: var(--primary-white-color);
}

.card-soc-footer {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--link-bg-color);
  transition: background-color 250ms var(--primary-cubic);
}

.card-soc-footer:hover,
.card-soc-footer:focus {
  background-color: var(--accent-color);
}
/*--------------Subscribe--------------*/

.subscribe {
  margin-right: auto;
}

.sub-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
  display: inline-block;
}

.lable-email {
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: var(--contacts-footer-color);
}

/*--------------Portfolio Button--------------*/
.nav_portfolio {
  display: none;
}

.btn_portfolio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  display: flex;
  border-radius: 4px;
  justify-content: center;
}

.filter-item {
  margin-right: 8px;
}

.filter-item:last-child {
  margin-right: 0;
}

.portfolio-link {
  display: block;
  transition: box-shadow 250ms var(--primary-cubic);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio_item:focus .portfolio-description,
.portfolio_item:hover .portfolio-description {
  transform: translateY(0);
  opacity: 1;
}

.thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-description {
  transform: translateY(100%);
  opacity: 0;
  display: flex;
  padding: 63px 24px;
  transition: transform 250ms var(--primary-cubic);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  position: absolute;

  color: var(--primary-white-color);
  background-color: var(--portfolio-descriprion-clr);
}

.nav_btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  background-color: var(--team-bg-color);
  padding: 6px 22px;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms var(--primary-cubic),
    color 250ms var(--primary-cubic);
}

.nav-btn:active {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.nav_btn + .nav_btn {
  margin-right: 0;
}

.nav_btn:hover,
.nav_btn:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/*--------------Portfolio --------------*/

.our-projects {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.border-item {
  background-color: var(--primary-white-color);
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}

.portfolio_item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio_item:nth-child(3n) {
  margin-right: 0;
}

.portfolio_item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio_name {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

.portfolio_type {
  font-style: normal;
  font-size: 16px;
  line-height: 1.87;
  color: var(--title-text-color);
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
}
.portfolio_content {
  width: 370px;
  height: 294px;
  margin-bottom: 140px;
}

/*--------------Modal Window --------------*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--wiew-port-grey-clr);
  transition: transform 250ms linear, opacity 250ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  min-width: 528px;
  min-height: 581px;
  padding: 40px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--primary-white-color);
  transition: transform 250ms linear, opacity 250ms linear;
}

.close-svg:focus,
.close-svg:hover {
  fill: var(--accent-color);
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  height: 30px;
  width: 30px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: var(--primary-white-color);
  transition: fill 250ms var(--primary-cubic);
}

.close-svg {
  position: absolute;
  transition: fill 250ms var(--primary-cubic);
  justify-content: center;
  align-items: center;
}

.email-subscribe {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  box-sizing: border-box;
  position: relative;
  width: 358px;
  height: 50px;
  margin-right: 12px;
  background-color: var(--footer-bg-color);
  transition: border-color 250ms var(--primary-cubic);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  color: var(--accent-color);
}

.subscribe-btn {
  min-width: 200px;
  min-height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;

  display: inline-flex;
  justify-content: center;
  color: var(--primary-white-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: border-color 250ms var(--primary-cubic);
}

/*--------------Modal Feedback --------------*/

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  display: inline-block;
  margin-bottom: 12px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.feedback-modal {
  position: relative;
}

.feedback-modal:not(:last-child) {
  margin-bottom: 10px;
}

.feedback-title {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--title-text-color);
}

.feedback-input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  padding-left: 42px;
  transition: border-color 250ms var(--primary-cubic);
}

.feedback-input:focus {
  outline: none;
  color: var(--accent-color);
}

.feedback-input:focus + .feedback-icon {
  fill: var(--accent-color);
}

.feedback-icon {
  position: absolute;
  top: 26px;
  left: 12px;

  transition: fill 250ms var(--primary-cubic);
}

.feedback-comment {
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  overflow: hidden;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  resize: none;

  transition: border-color 250ms var(--primary-cubic);
}

.feedback-comment::placeholder {
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.feedback-comment:focus {
  outline: none;
  border-color: var(--accent-color);
}

.input-agreement {
  margin-bottom: 30px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

.checkbox:checked + .icon {
  background-color: var(--accent-color);
  border: black;
  border-color: var(--accent-color);
}

.agreement-title {
  line-height: 1.714;
}

.agreement-link {
  color: var(--accent-color);
  margin-left: 4px;
  text-decoration: underline;
  transition: color 250ms var(--primary-cubic);
}

.agreement-link:hover,
.agreement-link:focus {
  color: var(--hero-button-hover);
}

.send-modal:hover,
.send-modal:focus {
  background-color: var(--hero-button-hover);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.send-modal {
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  font-family: inherit;
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  min-width: 200px;
  min-height: 50px;
  display: block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  transition: color 250ms var(--primary-cubic) background-color 250ms
    var(--primary-cubic);
}
